body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #03294f;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

header .logo {
    width: 100px;
    height: 50px;
    margin-right: -10px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

.nav-container {
    display: flex;
    gap: 15px; /* Space between navigation links */
}

.nav-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease; /* Smooth transition effect */
}

.nav-container a:hover {
    text-decoration: none;
    color: #0ab9f9; /* Bright yellow, for example */
    transform: scale(1.1); /* Slightly enlarge the text */
}















footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}